body{
    background-image:url(imag/website-background-image-size-psd-vector-photo.jpg) ;
    background-size:auto ;
    background-repeat: no-repeat;
}
*{
    font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
}
.sign {
    background-color: white;
    position: relative;
    width: 500px;
    height: 700px;
    border-radius:10px;
    margin-left: 20%;
    margin-top: 5%;
    z-index: 100;
}
.user {
    position: relative;
    top: 160px;
    left: 101px;
  
}
#enter {
    border: none;
    outline: none;
    width: 289px;
    height: 50px;
    border-bottom: #a7a7a7 2px solid;
    
}
#enter:focus{
    border-bottom: #4b4988 2px solid;
   color: #4b4988;
   
  
}
#enter::placeholder{
    color:#a7a7a7;
}
#enter:focus::placeholder{
  color: #4b4988;
}
.password {
    position: relative;
    top: 268px;
    left: 100px;
}
p{
    position: relative;
    font-size: 15px;
    color:#a7a7a7;
    font-weight: 700;
}
input:first-of-type:focus p:first-of-type{
color:#4b4988;
font-weight: 700;

}

.head {
    position: relative;
    top: 126px;
    left: 87px;
    color: #4b4988;
}
form{
    position: absolute;
    top: -110px;
}
.submit{
    position: relative;
    top:330px;
    left: 101px;
}
#submit {
    border: none;
    position: relative;
    left: -60px;
    top: 13px;
    width: 400px;
    height: 30px;
    background-color: #4b4988;
    color: white;
    transition-duration: 1s;
}
#submit:hover{
    background-color: #2b2a50;
}

* {
    font-family: 'Cairo', sans-serif;
}
hr {
    width: 400px;
    height: 1px;
    color: #4b4988;
    position: relative;
    top: 340px;
    left: 40px;
}
#or {
    position: relative;
    top: 363px;
    left: 226px;
    width: 120px;
    height: 120px;
    border-radius: 50% 50%;
    border: #4b4988 1px solid;
    z-index: 1;
    background-color: white;
}
.links {
    position: relative;
    top: 361px;
    left: 96px;
}
.facebook img{
    position: relative;
    width:50px;
    transition-duration:2s;
   transition-property: all;
    height: 50px;
}
.facebook img:hover{
width: 60px;
height: 60px;
}
.gmail img{
    width:50px;
    height: 50px;
    transition-duration:2s;
    transition-property: all;
}
.gmail img:hover{
    width: 60px;
    height: 60px;
    }
.twitter img{
    width:50px;
    height: 50px;
    transition-duration:2s;
    transition-property: all;
}
.twitter img:hover{
    width: 60px;
    height: 60px;
    }
.links a{
    margin: 0px 20px;
}

.back {
    width: 1103px;
    height: 619px;
    background-color:#0e0d0dbf;
    position: absolute;
    top: 63px;
    left: 59px;
    animation-name: backcopacity;
    border-radius: 2px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes backcopacity 
{
    0%{
background-color: #0e0d0dbf;
    }
    50%{
        background-color: #0e0d0d59;
    }

100%{
    background-color: #0e0d0dbf;
      
}
}
.loginback {
    color: white;
    display: inline-block;
    margin-left: 560px;
    margin-top: -122px;
}


.parent {
    position: absolute;
    top: 90px;
    left: 200px;
}
.back .signback {
    display: inline-block;
    color: white;
    position: relative;
    top: 74px;
    left: 48px;
   visibility:hidden;
}
.loginbutton{
    border: solid #a7a7a7 2px;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
}
.loginbutton:hover ,.signbutton:hover{
    background-color: white;
    color: #2b2a50;
}
.signbutton{
    border: solid #a7a7a7 2px;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
}
.login {
    background-color: white;
    position: relative;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
    z-index: 100;
    top: -726px;
    left: 517px;
    visibility: hidden;
}
.password2{
    position: relative;
    top:159px;
    left: 101px;
  

}
.submit2 {
    left: 107px;
    top: 218px;
}
.links2{
    top: 250px;
}
.or2{
    top: -60px;
}
.orsign {
    position: relative;
    /* left: 10px; */
    top: -111px;
    left: 4px;
}
